.view {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view > div {
    width: 240px !important
}

.view > p {
    display: block !important
}

.view > span {
    display: block !important
}

.view > ul > li > p {
    display: block !important
}

.view > article {
    width: 242px !important
}

.view > article > p {
    display: block !important
}

.view1 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view1 > div {
    width: 240px !important
}

.view1 > p {
    display: block !important
}

.view1 > span {
    display: block !important
}

.view1 > ul > li > p {
    display: block !important
}

.view1 > article {
    width: 242px !important
}

.view1 > article > p {
    display: block !important
}

.view2 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view2 > div {
    width: 240px !important
}

.view2 > p {
    display: block !important
}

.view2 > span {
    display: block !important
}

.view2 > ul > li > p {
    display: block !important
}

.view2 > article {
    width: 242px !important
}

.view2 > article > p {
    display: block !important
}

.view3 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view3 > div {
    width: 240px !important
}

.view3 > p {
    display: block !important
}

.view3 > span {
    display: block !important
}

.view3 > ul > li > p {
    display: block !important
}

.view3 > article {
    width: 242px !important
}

.view3 > article > p {
    display: block !important
}

.view4 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view4 > div {
    width: 240px !important
}

.view4 > p {
    display: block !important
}

.view4 > span {
    display: block !important
}

.view4 > ul > li > p {
    display: block !important
}

.view4 > article {
    width: 242px !important
}

.view4 > article > p {
    display: block !important
}

.view5 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view5 > div {
    width: 240px !important
}

.view5 > p {
    display: block !important
}

.view5 > span {
    display: block !important
}

.view5 > ul > li > p {
    display: block !important
}

.view5 > article {
    width: 242px !important
}

.view5 > article > p {
    display: block !important
}

.view6 {
    width: 282px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
}

.view6 > div {
    width: 240px !important
}

.view6 > p {
    display: block !important
}

.view6 > span {
    display: block !important
}

.view6 > ul > li > p {
    display: block !important
}

.view6 > article {
    width: 242px !important
}

.view6 > article > p {
    display: block !important
}
