@charset "utf-8";
/* 초기화 */

*{box-sizing:border-box;}
a{text-decoration:none; color:#111;}
a:hover{text-decoration:underline; color:#000;}
body{font-family:sans-serif; color:#222;}
.hidden{display:none;}